{% liquid
  assign threshold = 49900
%}

{% if cart.total_price >= threshold %}
<style>
  .free-shipping-upsell {
    margin: var(--margin-md) var(--margin-lg) var(--margin-lg) var(--margin-lg);
  }
  .free-shipping-upsell__inner {
    border: 1px solid var(--border-color);
    padding: var(--padding-lg);
    border-radius: var(--style-border-radius-md);
    background: rgb(var(--color-background-rgb));
    box-shadow: var(--shadow-button);
  }
  .free-shipping-upsell__success {
    margin: 0;
    font-family: var(--font-body--family);
    font-weight: bold;
    color: var(--color-success);
    display: flex;
    align-items: center;
    gap: var(--gap-xs);
    font-size: var(--font-size--md);
  }

  @media screen and (max-width: 749px) {
    .free-shipping-upsell {
      margin: var(--margin-sm) var(--margin-md) var(--margin-md) var(--margin-md);
    }
    .free-shipping-upsell__inner {
      padding: var(--padding-md);
    }
    .free-shipping-upsell__success {
      font-size: var(--font-size--sm);
    }
  }
</style>

<div class="free-shipping-upsell">
  <div class="free-shipping-upsell__inner">
    <p class="free-shipping-upsell__success">
      {{ 'content.free_shipping_unlocked' | t }}
    </p>
  </div>
</div>
{% endif %}
